/*video de curso https://youtu.be/OWKXEJN67FE*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 20px;
}


/* .contact-form{
    font-size: 25px;
}

.contact-form__h2{
    font-size: 2em;
    color: red;
   
} */

/* ******************************************** */
/* cajas minuto 1:25 */
/* h2{
    background-color:#a22;
    display: inline-block;
    padding: 20px 20px 20px 5px;
    margin: 2px;
    border-radius: 16px;
    box-shadow: 4px 2px 15px 0px;
    text-shadow: 4px 2px 7px rgba(24, 23, 23, 0.911);
    transform: rotate(2deg);
} */

/* ******************************************** */
/* 1:55:32​ - Outline */

/* 
******************************************** 
            2:05:28​ - Position
.caja1{
    background-color: red;
}
.caja2{
    background-color: green;
    position: relative;
    top: 100px;
    z-index: 50;
    
}
.caja3{
    background-color: blue;
    position: relative;
    
}
.caja4{
    background-color: yellow;
} */

/* ******************************************** 



        2:23:10​ - Position Absolute
div{    
    background: yellow;
    display: block;
    position: absolute;
    
}

div div{
    width: 120px;
    height: 120px;
}
.contenedor{
    
    position: relative;
    margin:50px auto;
    border: 4px solid black;
    height: 450px;
    width: 450px;
}
.caja1{
    background-color: brown;
    
}
.caja2{
    background-color: green;
    //position:absolute; "position:absolute quita la reservacion del espacio" 
    right: 0;
}
.caja3{
    background-color: blue;
    right: 0;
    bottom: 0;
}
.caja4{
    background-color: red;
    bottom: 0;
}
.caja5{
    background-color: blanchedalmond;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
*/

/* ********************************************
            2:39:37​ - Position Fixed
body{
    padding-top: 100px;
}
.caja-fixed{
    background: red;
    position: fixed;
    opacity: .5;
    margin: -100px;

} */

/* ********************************************
        2:55:30​ - Overflow
div{
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 250px;
    border: 4px solid orangered;
    background: yellowgreen; 
    overflow: auto; permite añadir scroll en algo que este mas grande que el contenedor
    overflow-y: scroll;
    overflow-x:hidden;
} */

/*********************************************3:02:06​ - Float
 .cont{
    
    margin-top: 50px;
    border:4px solid red;
    background: grey;
    padding: 20px;
    overflow: hidden; lo emplo para que la imagen no se salga del cont 
}

.cont img{
   float: right; ubico la imagen flotando donde alado del texto 

  
} */

/* *********************************************3:10:19​ - Pseudoelementos
.texto{
    margin: 20px;
}
.texto::first-letter{
    color: blueviolet;
    font-size: 2em;
} */

/* *********************************************3:24:05​ - Pseudoclases
.caja1 {
    height: 200px;
    width: 200px;
    background: slateblue;
    transition: background 1s, height 1s, width 1s ;
}

cambia el color cuando el puntero este sobre el elemento 
.caja1:hover{
    background: darkslateblue;
    height: 300px;
    width: 300px;
    
}

cambia cuando se mantiene presionado cuando se suelta, vuelve a la normalidad 
.caja2{
    height: 200px;
    width: 200px;
    background: red;
    transition: 1s;
}
.caja2:active{
    background: blue;
    width: 600px;
}

.input1{
    border: none;
    border-bottom: solid  lightskyblue;
    height:50px;
    transition: background 1s, padding 1s, linear 1s, border-bottom 1s, width 1s;
}

.input1:focus{
    border: 0;
    border-bottom:  solid  rgb(49, 154, 219);
    width: 400px;
    outline: none;
    padding: 20px;
   
} */

/* ********************************************* 3:52:35​ - Objet Position (encuadre de imagenes) */

 /* ********************************************* 4:18:25​ - Menu Responsive
.nav__responsive-ul{
    display: none;
}

nav{
    background-color: #1D244A;
    color:#fff;
}
.nav__ul{
    padding: 12px 0;
}
.nav__li{
    display: inline-block;
    padding: 12px;
    color: #fff;
}
.nav__li a{
    color: #FFFFFF;
    text-decoration: none;
}
.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.nav__li :hover > a{
    color:#ccc;
}
.nav__li:hover{
    color:#ccc;
}

.nav__responsive-button-container{
    position: absolute;
    width: 100%;
    background-color: black;
    margin-top: -37px;
    z-index: 100;
}
.nav__responsive-button{
    font-size: 37px;
    float: right;
    padding: 6px 20px;
}

@media only screen and (max-width: 800px){
    .nav__ul{
        display: none;
    }
    .nav__li-conteiner{
        position: relative;
        top: -1000px;
        height: calc(100vh - 49px);
        background: #1D244A;
        transition: all 1s;
        z-index: 1;
    }
    
    .nav__li-conteiner li{
        display: block;
        
    }
    .nav{
        width: 100%;
    }
    .nav__responsive-ul {
        display: block; 
        position: absolute;
        width: 100%;
        margin-top: 37px;            
        height: 27px;   
    }
    .nav__responsive-li{
        padding: 13px 10px;
        text-align: left;
        
    }
    .nav__responsive-li a{
        text-decoration: none;
        text-align: right;
        padding-left: 5px;
        color: #fff;
    }
    .nav__responsive-li:hover{
        color:#ccc;
    }
    .nav__responsive-li:hover > a{
        color:#ccc;
    }
    .nav__responsive-ul:hover > .nav__li-conteiner{
        top: 12px;
    }    
} */

/* ********************************************* 5:01:55​ - Flex wrap
.flex-container{
    display: flex;
    flex-wrap: wrap;
    
}
.flex-item{
    background-color: #5500ff;
    color: #fff;
    margin: 5px;
    height: 120px;
    min-width: 120px;
    
}
.orange{
    background-color: orangered;
}
.green{
    background: green;
} */

/* ********************************************* 5:40:22​ - Formulario con Flex
body{
    background: #06090F;
}
.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #0D1117;
    margin: 30px 50px;
    padding: 20px;
    max-width: 1000px;
    margin: 50px auto;
    flex-wrap: 1;

    
}
.form {
    min-width: 50%;
    flex:1;
    text-align: center;
    padding: 30px ;
    order: 2;
}
.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border:none;
    border-bottom: 3px solid #20B2AA;
    background: transparent;
    color: #fff;

}
.form__input:focus{
    background:linear-gradient(to bottom, transparent, #353535) ;
    border-bottom:  3px solid #00FFFF;
    outline: none;

}
.form textarea{
    min-height: 150px;
    resize: none;
}

.form-img{
    flex: 1;
    padding: 10px;
    display: flex;
    align-content: center;
    min-width: 300px;
    max-width: 100px;
}
.form-img div{
    padding: 10%;
}
.img-container{
    padding: 20px;
    order: 5;
}
.img-container div{
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding:30%;
}
.form-img img{
    width: 90%;
    margin: auto;
}
.form input[type="submit"] {
    background-color: #20B2AA;
    border-bottom: none;
    padding: 12px;
}
.form input[type="submit"]:hover {
    background-color: #40E0D0;
    
}
.form input[type="submit"]:focus {
    background-color: #40E0D0;
   
}
.form input[type="submit"]:active {
    background: linear-gradient(to bottom,#20B2AA, #40E0D0);
} */